.navbar {
    border-radius: 0;
    border-width: 0;
}
.single-form-container {
    width: 40%;
    margin: auto;
}
.single-form-container form input {
    margin-bottom: 10px;
}
#AdminSignInForm {
    max-width: 330px;
    padding: 15px;
    margin: 10% auto 0;
}
#AdminSignInForm input {
    margin-bottom: 12px;
}
.table-links {
    margin-right: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #222222;
}
.list-button-container {
    margin-top: 15px;
    margin-bottom: 10px;
}
.list-button-container a {
    font-size: 13px;
    padding: 6px 9px;
}