body {
    background: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.navbar {
    background: #ffffff;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #dddddd;
    margin-bottom: 0;
}
.navbar-nav {
    margin-bottom: -4px;
    font-family: 'Poppins', sans-serif;
}
.navbar-nav li a.main-link {
    color: #3E454D;
}

.navbar .glyphicon-chevron-down {
    font-size: 11px;
}
.navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: 900;
}
.logo-schol {
    color: #305B75;
    margin-right: -8px;
}
.logo-arm {
    color: #424242;
}

@media (min-width: 768px) {
    .navbar-nav .link-container:hover .main-link {
        background: #b2b2b2 !important;
        color: #ffffff !important;
        border-bottom: 4px solid #979a9e;
    }
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
    }
    .navbar-nav li a.main-link {
        line-height: 30px;
        height: 60px;
    }
    .navbar-default .navbar-brand {
        margin-top: 3px;
    }
    .dropdown-menu {
        padding: 0;
        border: 1px solid #e7e7e7;
        border-top-width: 0;
        min-width: 250px;
        box-shadow: none;
        border-radius: 2px;
    }
    .dropdown-menu li a {
        padding: 16px 20px;
        height: 50px;
        color: #4e5b67;
    }
    .dropdown-menu li a:hover,
    .dropdown-menu li a:focus{
        color: #777;
        background: #edf0f4;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar .container {
        width: 760px;
    }
    .navbar .container-fluid {
        padding-left: 0;
    }
    .navbar-right {
        margin-right: 0;
    }
    .navbar-default .navbar-nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}














.main-column {
    padding-left: 20px;
    padding-right: 20px;
}
.main-column h2 {
    font-family: Verdana, Geneva, sans-serif;
    color: #005775;
    font-size: 19px;
    margin-bottom: 20px;
}
.single-article .image-container {
    overflow: hidden;
    position: relative;
}
.single-article .image {
    height: 250px;
    width: 100%;
    transform: scale(1,1);
    transition: all .4s;
    background: url('../img/article2.jpg') no-repeat;
    background-size:cover;
}
.single-article .date {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #00252f;
}
.single-article .description {
    padding: 10px 15px 15px;
    background: #ffffff;
}
.single-article a {
    text-decoration: none;
    border-top: 4px solid #007d93;
    display: block;
}
.single-article .description h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 21px;
    color: #00252f;
}
.single-article .description p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    text-align: justify;
    color: #003e4e;
}
.single-article a:hover p,
.single-article a:hover h4 {
    color: #006385;
}
.single-article a:hover .image {
    transform: scale(1.02, 1.02);
}


.owl-carousel .item img {
    width: 100%;
}


.article .title {
    font-family: Verdana, Geneva, sans-serif;
    color: #00252f;
    margin-bottom: 20px;
}
.article .image {
    margin: auto;
    margin-bottom: 20px !important;
}
.article .image img {
    width: 100%;
}




.read-more-button {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 190px;
    height: 33px;
    padding-top: 6px;
    background: #0088A3;
    border: 1px solid #0088A3;
    color: #FFF;
    transition: all 0.5s;
}

.read-more-button:hover, .read-more-button:active
{
    text-decoration: none;
    color: #0088A3;
    border-color: #0088A3;
    background: #FFF;
}

.read-more-button span
{
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s;
}

.read-more-button span:after
{
    content: ' ';
    position: absolute;
    top: 0;
    right: -18px;
    opacity: 0;
    width: 11px;
    height: 11px;
    margin-top: -6px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #FFF;
    border-top: none;
    border-right: none;
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    transform: rotate(225deg);
}

.read-more-button:hover span, .read-more-button:active span
{
    padding-right: 30px;
}

.read-more-button:hover span:after, .read-more-button:active span:after
{
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    opacity: 1;
    border-color: #0088A3;
    right: 0;
    top: 50%;
}


















.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    margin: 0;
    font-size: 36px;
}

.footer-distributed h3 span{
    color: #9b9b9b;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
